.home {
  padding: 100px 20px 40px;
  background-color: #141414; /* Estilo tipo Netflix */
  color: #fff;
  min-height: 100vh;
}

.category-dropdown {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.category-dropdown select {
  background-color: #1f1f1f;
  color: #fff;
  border: 2px solid #e50914;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 8px;
  outline: none;
  transition: 0.3s ease;
  cursor: pointer;
}

.category-dropdown select:hover {
  background-color: #292929;
}

/* Movie Grid */
.movie-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Movie Card */
.movie-card {
  background-color: #222;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
  width: 180px;
  text-align: center;
}

.movie-card img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #e50914;
}

.movie-card h3 {
  font-size: 14px;
  padding: 10px;
  margin: 0;
}

/* Movie Card Hover */
.movie-card:hover {
  transform: scale(1.05);
}

/* Spinner */
.loading {
  text-align: center;
  padding: 50px 0;
}

.spinner {
  border: 8px solid #333;
  border-top: 8px solid #e50914;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Botón "Cargar más" */
button {
  display: block;
  margin: 30px auto;
  padding: 12px 24px;
  background-color: #e50914;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #f40612;
}
